.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    /* top: 0; */
    left: 0;
    background-color: #e7e7e7;
    overflow-x: hidden;
    padding-top: 20px;
    cursor: pointer;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    display: block;
    /* cursor: 'pointer'; */
  }
  
  .sidenav a:hover {
    color: #000;
    /* cursor: 'pointer'; */
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }

  #dod-cart{
    padding:10px;
  }
  #dod-cart li{
    padding:10px;
  }
  #dod-cart li img{
    position: relative;
    display: inline-block;
    width:70px;
    height:70px;
    background-color: grey;
    object-fit:cover;
    border-radius:50%;
  }
  #btn-dod2cart{

  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }




/* grid product */
.g {
    padding: 0.25em;
    overflow: hidden;
  }
  .g li {
    float: left;
    width: 50%;
    padding: 0.25em;
  }
  .g img {
    display: block;
  }
  .g li:nth-child(odd) {
    clear: left;
  }

  @media screen and (min-width: 40em) {
    .g li {
        width: 33.3333333333333333%; 
      }
      .g li:nth-child(3n+1) {
        clear: left;
      }
      .g li:nth-child(odd) {
      clear: none;
    }
  }
  @media screen and (min-width: 55em) {
    .g li {
        width: 25%; 
      }
      .g li:nth-child(4n+1) {
        clear: left;
      }
      .g li:nth-child(3n+1) {
      clear: none;
    }
  }
  @media screen and (min-width: 72em) {
    .g li {
        width: 20%; 
      }
      .g li:nth-child(5n+1) {
        clear: left;
      }
      .g li:nth-child(4n+1) {
      clear: none;
    }
  }
  @media screen and (min-width: 90em) {
    .g li {
        width: 16.666666666%; 
      }
      .g li:nth-child(6n+1) {
        clear: left;
      }
      .g li:nth-child(5n+1) {
      clear: none;
    }
  }
/* grid product */